.tabmenu{
  color: blue;
  padding: 24px 20px 30px 20px;
  border: solid 1px black;
  justify-content: space-between;
}

.days{
  display: flex;
  flex-direction: row;
  flex: 1;
  margin: 25vh 5vw 0 40vw;
  border: solid 1px blue;
  justify-content: space-between;
}

a{
  font-size: 18px;
}

.tabcontent{
margin: 100px -1px 0 -589px;
border: solid 1px pink;
}

img{
  height: auto;
  width:20%;
}

#aboutme{
margin-right: 60vw;
  background-color: pink;

}
