body {
  font-family: Arial;
  background-color: #BDEDFF;
}


#sidebar{
  background-color: #FFFCE3;
  max-width: 30vw;
  padding: 17vh 5vw 100vh 9vw;
  margin: -20vh 0 0 -5vw;
  display: block;
  float: left;
}
h1, h3, #aboutm{
  text-align: center;
}
h1{
  font-size: 40px;
}
h3{
 font-size: 20px;
 margin-top: 40vh;
}
#aboutme{
  margin-top: -1vh;
font-size: 16px;
}

/* Style the tab */
.tab {
  position: relative;
  overflow: hidden;
  margin: 15vh 7vw 0 42vw;
  border: 1px solid #ccc;
  background-color: #FF6363;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: white;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: white;
}

/* Style the tab content */
.tabcontent {
  position: relative;
  display: none;
  height: 40vh;
  margin: 0 7vw 0 42vw;
  padding: 5vh 5vw 5vh 5vw;
  border: 1px solid #ccc;
  border-top: none;
  background-color: #FFFCE3;
}
.fa-heart, .fa-shower, .fa-bacon, .fa-walking, .fa-film, .fa-feather, .fa-utensils, .fa-broom, .fa-book, .fa-blender, .fa-cookie-bite, .fa-gifts, .fa-birthday-cake, .fa-shopping-bag, .fa-bath, .fa-mobile-alt, .fa-biking, .fa-hiking, .fa-laptop, .fa-headphones-alt{
  color: #FF6363;
}
span{
  margin-left: 20px;
  font-size: 30px;
}

p{
  font-size: 25px;
}

/* .menuitems{
  padding: 5vh 5vw 0 2vw;

} */

</style>
