body {
  font-family: Arial;
  background-color: #BDEDFF;
}
#sidebar{
  background-color: #FFFCE3;
  max-width: 30vw;
  padding: 13vh 5vw 100vh 9vw;
  margin: -20vh 0 0 -5vw;
  display: block;

  float: left;
}
h1, h3, #abtpage{
  text-align: center;
}
h1{
  font-size: 3rem;
  font-family: 'Eczar', serif;
  margin-bottom: -1vh;
}
.todo{
  width: 15vw;
  float:left;
  margin: 3vh 2vw 10vh -2vw;
  border: solid 1px #FFFCE3;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: solid .5px white;
  border-radius: 10px;
}
h3{
 font-size: 20px;
 margin-top: 1vh;
 font-family: 'Eczar';
}
#abtpage{
  margin-top: -1vh;
font-size: 1rem;
font-family:  'Nunito', sans-serif;;
}

/* Style the tab */
.tab {
  position: relative;
  overflow: hidden;
  margin: 15vh 3vw 0 43vw;
  border: 1px solid #ccc;
  background-color: #FF6363;
  box-shadow: 10px 10px grey;

}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  display: flex;
  flex-grow: 1;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 20px;
  transition: 0.3s;
  font-size: 1.1rem;
  font-family: 'Nunito', sans-serif;
  color: black;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: white;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: white;
}
/* Style the tab content */
.tabcontent {
  position: relative;
  display: none;
  overflow: scroll;
  margin: 0 3vw 0 43vw;
  padding: 5vh 5vw 5vh 7vw;
  border: 1px solid #ccc;
  border-top: none;
  background-color: #FFFCE3;
  box-shadow: 10px 10px grey;
}

.fa-heart, .fa-shower, .fa-bacon, .fa-walking, .fa-film, .fa-feather, .fa-utensils, .fa-broom, .fa-book, .fa-blender, .fa-cookie-bite, .fa-gifts, .fa-birthday-cake, .fa-shopping-bag, .fa-bath, .fa-mobile-alt, .fa-biking, .fa-hiking, .fa-laptop, .fa-headphones-alt{
  color: #FF6363;
  margin-right:1.2vw;
  font-size: 2rem;
}
span{
  font-size: 1.8rem;
  font-family:  'Nunito', sans-serif;;
}

p{
  font-size: 1.3rem;
  font-family: helvetica;
}

</style>
