
/* references from https://www.w3schools.com */
body{
  background-color: #F5FFDE;
  color: black;
}
h1 {
  font-size: 90px;
  font-family: "Nunito";
  color: black;
  text-align: center;
  font-weight: 900px;
  margin-bottom: 0px;
  margin-top: 0px;
}
#name {
  font-family: "Nunito";
  color: black;
  text-align: center;
  margin-top: 0px;
  font-size: 23px;
}
#imageinfo{
  float:left;
  width: 40vw;
  height: 350px;
  object-fit: cover;
  object-position: 50% 20%;
}
img{
  border-radius: 8px;
  border: solid 1px white;
  margin:20px 20px 0px 20px;
}
h4 {
  font-family: "Nunito";
  color: #261007;
  font-weight: 900;
  font-size: 20px;
}
#aboutme {
  float: right;
  clear:right;
  background-color: #E6BCF5;
  border: solid 2px black;
  border-radius: 8px;
  margin: 30px;
  padding: 5px 15px 5px 15px;
  font-family: "Lora";
}
ol{
  list-style-position: inside;
}
hr{
  border-top: 3px solid #9560A8;
}

#assignments {
  font-family: "Lora";
  padding: 0px 15px 5px 15px;
  margin: 0px 30px 0 30px;
  clear: both;
}

/*Button link customization referenced from https://www.w3schools.com/css/css_link.asp */
a:link {
  background-color: #E6BCF5;
  color: black;
  padding: 14px 25px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 18px;
  display: inline-block;
  border-radius: 8px;
}
a:hover, a:active {
  background-color: #9560A8;
}
/* a:link{
  color: #7A4C41;
}
a:visited{
  color: green;
}
a:hover{
  color: black;
} */
