#quotesection{
  background-color: tan;
  margin: 30vh 20vw;
  padding: 8vh 10vw 10vh 10vw;
  border-radius: 8px;
  font-family: "EB Garamond";
}

button{
  border-radius: 8px;
  padding: 1vh 3vw;
  float: right;
  display: block;
  margin-top: 1vh;
  background-color: black;
  color: white;
  font-family: "Open Sans";
  font-weight: bold;
}
button:hover{
  border: yellow solid 1px;
}

button:active{
  color: yellow;
}


h1{
  color: black;
  font-weight: 200;
}

#flex{
  display: flex;
  margin: 150px;
}

div{
  border: 1px solid black;
  margin-left: 2vw;
}

.flexitem{
  /* Want every item with flexitem to be the same size */
  flex-grow: 1;
  padding: 10px;
}
