
/* most references from https://www.w3schools.com */
body{
  background-color: #F5FFDE;
  color: black;
}
h1{
  font-family: "Nunito";
  color: black;
  text-align: center;
  font-size: 72px;
  margin-bottom: -30px;
}
h2{
  font-size: 64px;
}
#name {
  font-family: "Nunito";
  color: black;
  text-align: center;
  margin-top: 0px;
  font-size: 23px;
}
/* box shadow effect referenced from https://css-tricks.com/almanac/properties/b/box-shadow/ */
#imageinfo{
  float:left;
  width: 40vw;
  height: 350px;
  object-fit: cover;
  object-position: 50% 20%;
  /* box-shadow: 5px 5px rgb(149, 96, 168); */
  box-shadow: 0.5rem 0.5rem #98A871, -0.5rem -0.5rem #DBF5B6;
}
img{
  margin:20px 20px 0px 20px;
}
h4 {
  font-family: "Nunito";
  color: black;
  font-weight: 900;
  font-size: 20px;
  margin-bottom: -10px;
}
#aboutme {
  float: right;
  clear:right;
  background-color: #E6BCF5;
  border: solid 1px black;
  border-radius: 8px;
  margin: 30px;
  padding: 5px 15px 25px 15px;
  font-family: "Lora";
  font-size: 14px;
}
ol{
  list-style-position: inside;
}
hr{
  border-top: 3px solid #9560A8;
  margin: 0px;
}

#assignments {
  font-family: "Lora";
  padding: 0px 15px 5px 15px;
  margin: 0px 30px 0 30px;
  clear: both;
}

/*Button link customization referenced from https://www.w3schools.com/css/css_link.asp */
a:link {
  background-color: #DBF5B6;
  color: black;
  padding: 14px 25px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 18px;
  display: inline-block;
  border-radius: 8px;
  border: solid 1px #9560A8;
  box-shadow: 3px 3px rgb(0,0,0,.25);
}
a:hover, a:active {
  background-color: #98A871;
  color: #9560A8;
}
a:visited{
  color: #9560A8;
}
/* a:link{
  color: #7A4C41;
}
a:visited{
  color: green;
}
a:hover{
  color: black;
} */
